*{
    margin: 0;
    padding: 0;
    font: 'Poppins', 'sans-serif';
    box-sizing: border-box;

}

body{
    background-color: #222;
    display: flex;
    justify-content: center;
  

}

.cards{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px;
    border-radius: 20px ;
    padding: 40px 35px;
    text-align: center;
}

.cards h1{
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;

}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 30px;
    padding: 10px 25px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;

}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img{
    width: 16px;
}


.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 600;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;

}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}

.weather{
    display: none;
}

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 15px;
    margin-top: 10px;
    display: none;
}

@media (max-width: 600px) {
    
    body {
        padding-top: 5px; /* Ou margin-top: 20px; Espaçamento menor para telas menores */
    }

    .cards {
        width: 95%; /* Aumenta a largura do cartão em telas menores */
        padding: 10px; /* Reduz o preenchimento para melhor ajuste */
        margin: 10px; /* Reduz a margem para melhor ajuste */
    }

    .weather h1 {
        font-size: 60px; /* Reduz o tamanho da fonte para melhor ajuste */
    }

    .weather h2 {
        font-size: 35px; /* Reduz o tamanho da fonte para melhor ajuste */
    }

    .details {
        margin-top: 30px; /* Reduz a margem para melhor ajuste */
        padding: 0 10px; /* Reduz o preenchimento para melhor ajuste */
    }

    .humidity, .wind {
        font-size: 24px; /* Reduz o tamanho da fonte para melhor ajuste */
    }
}